.pnf{
    display: flex;
    font-size: 80px;
    min-height: 65vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pnf-title{
    font-weight: 700;
}

.pnf-heading{
    font-size: 40px;
    
}

.pnf-btn{
    font-size: 15px;
    text-decoration: none;
    width: fit-content;
    border: 2px solid rgb(184, 184, 184);
    padding: 10px;
    margin-top: 10px;
    border-radius: 18px;
    color: green;
    font-weight: 500;
}  