.reg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}

.reg form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}